*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, p, input, label{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  padding: 0 20px;
  margin: auto;
  
  @media (max-width: 575px){
    max-width: auto;
  }
  @media (min-width: 576px){
    max-width: 540px;
  }
  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 992){
    max-width: 960px;
  }
  @media (min-width: 1200px){
    max-width: 1140px;
  }
  
}