@import "default";
@import "variables";
@import "mixins";
@import "sections/tabs";
@import "sections/repositories";
@import "sections/header";
@import "sections/login";
@import "sections/favorites";
@import "sections/search";
@import "objects/message";

body{
  background: #eeeeee;
}

.main{
  @include backgroundGradient();
  height: 100vh;
  width: 100%;
  position: relative;

  &--internal{
    background: transparent;
    height: auto;
  }
}