section.favorites.js-content-item(data-content="Favoritos")
  .container
    .favorites__empty
      img(src="./assets/images/blank.png", alt="Favoritos vazio", title="Você ainda não possui repositórios favoritos. Realize uma busca para adicionar.")
      h3 Você ainda não possui repositórios favoritos. Realize uma busca para adicionar.
    
    .repositories__list
      a(href="", title="", target="_blank")
        article.repository
          figure.repository__owner-avatar
            img(src="./assets/images/programmer.png", alt="User", title="User")
          h2.repository__owner-name Thiago
          h3.repository__name Nome do Repositório
          p.repository__description Descrição do repositório
          ul.repository__info
            li
              img(src="./assets/images/view.png", alt="Watch", title="Watch")
              p 55
            li
              img(src="./assets/images/star.png", alt="Star", title="Star")
              p 35
            li
              img(src="./assets/images/fork.png", alt="Fork", title="Fork")
              p 86
      a(href="", title="", target="_blank")
        article.repository
          figure.repository__owner-avatar
            img(src="./assets/images/programmer.png", alt="User", title="User")
          h2.repository__owner-name Thiago
          h3.repository__name Nome do Repositório
          p.repository__description Descrição do repositório
          ul.repository__info
            li
              img(src="./assets/images/view.png", alt="Watch", title="Watch")
              p 55
            li
              img(src="./assets/images/star.png", alt="Star", title="Star")
              p 35
            li
              img(src="./assets/images/fork.png", alt="Fork", title="Fork")
              p 86
      a(href="", title="", target="_blank")
        article.repository
          figure.repository__owner-avatar
            img(src="./assets/images/programmer.png", alt="User", title="User")
          h2.repository__owner-name Thiago
          h3.repository__name Nome do Repositório
          p.repository__description Descrição do repositório
          ul.repository__info
            li
              img(src="./assets/images/view.png", alt="Watch", title="Watch")
              p 55
            li
              img(src="./assets/images/star.png", alt="Star", title="Star")
              p 35
            li
              img(src="./assets/images/fork.png", alt="Fork", title="Fork")
              p 86