section.favorites.js-content-item(data-content="Favoritos")
  .container
    .favorites__empty.active.js-favorites-empty
      img(src="./assets/images/blank.png", alt="Favoritos vazio", title="Você ainda não possui repositórios favoritos. Realize uma busca para adicionar.")
      h3 Você ainda não possui repositórios favoritos. Realize uma busca para adicionar.
    .repositories__list.js-repositories-favorites