section.repositories.js-content-item.active(data-content="Meus Repositorios")
  .container
    .repositories__list
      a(href="", title="", target="_blank")
        article.repository
          h3.repository__name Nome do Repositório
          p.repository__description Descrição do repositório
          ul.repository__info
            li
              img(src="./assets/images/view.png", alt="Watch", title="Watch")
              p 55
            li
              img(src="./assets/images/star.png", alt="Star", title="Star")
              p 35
            li
              img(src="./assets/images/fork.png", alt="Fork", title="Fork")
              p 86