section.search.js-content-item(data-content="Buscar")
  .container
    input.js-text-search(type="search", placeholder="Busque o respositório desejado")
    button.js-btn-search Buscar
    p.message.js-message Mensagem
    .repositories__list.js-repositories-search