<!DOCTYPE html>
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Meus Repositórios | Interna
  body
    main.main.main--internal
      header.header.header--internal
        .container
          h1.header__logo
            a(href="#" title="Meus Repositórios")
              img(src="./assets/images/database.png", alt="Meus Repositórios" title="Meus Repositórios")
              | Meus
              span Repositórios
      nav.tabs
        ul
          li.tabs__item.js-tabs-item.active(data-tab="Meus Repositorios")
            a(href="", title="Meus Repositórios") Meus Repositórios
          li.tabs__item.js-tabs-item(data-tab="Favoritos")
            a(href="", title="Favoritos") Favoritos
      include ./includes/favorites.pug
      include ./includes/repositories.pug
      

              
    