.repositories{
  padding: 30px 0;
  display: none;

  &.active{
    display: block;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 991px){
      justify-content: center;
    }

    a:hover .repository__favorite{
      display: block;
    }
  }
}

.repository{
  padding: 20px;
  background-color: $white;
  height: auto;
  width: 250px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  position: relative;

  &:nth-child(4n+0){
    margin-right: 0;
  }

  &__favorite{
    display: none;
    background-image: url("../images/favorite.png");
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;

    &.active{
      background-image: url('../images/favorite_active.png');
    }
  }

  &__owner{

    &-avatar{
      margin: 10px auto;
      @include avatar();
      @include backgroundGradient();

      img{
        max-width: 100%;
      }
    }

    &-name{
      font-size: 16px;
      color: $primary-color;
      margin: 10px 0 20px;
      text-align: center;
      font-weight: bold;
    }
  }

  &__name{
    font-size: 18px;
    color: $font-default;
    margin: 10px 0;
    text-align: center;
    font-weight: 300;
    @include limitText(1);
  }

  &__description{
    font-size: 15px;
    color: $font-default;
    text-align: justify;
    margin: 10px 0;
    @include limitText(3);
  }
  
  &__info{
    display: flex;
    border-top: 1px solid #cccccc;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 5px;

    li{
      display: flex;
      align-items: center;

      img{
        width: 20px;
        margin-right: 5px;
      }

      p{
        color: $font-default;
        font-size: 14px;
      }
    }
  }
}