.search{
  text-align: center;
  margin-bottom: 20px;
  display: none;

  &.active{
    display: block;
  }

  &__title{
    margin: 20px auto 30px;
    color: $font-lighter;
    width: 650px;
    display: block;
    font-size: 16px;
    font-weight: 500;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  input{
    height: 35px;
    width: 400px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    outline: none;
    margin-bottom: 30px;
    
    @media (max-width: 767px) {
      width: 65%;
    }
  }

  button{
    background: $green-button;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  }
}