.tabs{
  width: 100%;
  background-color: $white;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__item{
    list-style: none;
    padding: 5px 15px;

    &:not(:last-child){
      border-right: 1px solid $primary-color;
    }

    &.active{
      a{
        color: $primary-color;
      }
    }

    a{
      color: $font-default;
      font-weight: bold;
    }
  }
}