*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

.teste{
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}