.message{
  padding: 15px 20px;
  background-color: rgba(0,0,0,0.5);
  color: $white;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: -100px;
  transition: 0.2s ease-in-out;

  &.active{
    opacity: 1;
    visibility: visible;
    bottom: -70px;
  }
}